<div class="grid-container">
    <div id="itm" class="item1"> <a  id="btn" routerLink="/itjob">It Job Survey</a></div>
   <div id="itm" class="item2"><a  id="btn" routerLink="/hranalys"> Hr Attirition  </a> </div>
    <div id="itm"class="item3"> <a  id="btn" routerLink="/sales">Bitcoin Analysis</a> </div>
    <div id="itm" class="item4"><a  id="btn" routerLink="/pizza"> Pizza Shop  </a></div>
    <div id="itm" class="item5"> <a  id="btn" routerLink="/finance"> Finacial Markets</a></div>
    <div id="itm" class="item6"> <a  id="btn" routerLink="/advwrok">Adventure Works</a></div>
</div>

<h2> This report is in progress...  </h2>
<div class="home">
    <img  class="homepic" src="assets/Under.png">
</div>


<app-footer> </app-footer>