<div class="grid-container">
    <div class="item1">
        <h4> I am a Data Analyst with a strong background in computer sciences </h4>
    </div>
    <div class="item2"> <img src="/assets/moi.png" id="moi"> </div>
    <div class="item3">
        <div class="legend">

            <p> Passionate about data exploration and analysis, i have gained valuable experience
                interpreting and transforming data into actionable insights that drive organizational growth and
                effectiveness.</p>
             <p> My professional background has allowed me to work on various projects, from initial data collection from Microsoft Excel
                SQL Server Database, SharePoint Online,Azure SQL Database, Dynamics 365, SharePoint List and Azure Stream Analytics,Apache Kafka,Power Platform Dataflows
                like Streaming Data Connectors.</p> 
            <p>I am proficient in using tools such as Python (SciPy, NumPy, Pandas , Matplotlib...), SQL to extract, clean and analyze data.</p> 
            <p> My expertise also includes data visualization to make complex information more understandable with Microsoft Power Bi .</p> 

        </div>
    </div>
    <div class="item4"><img src="/assets/pbi.png" id="pbi"> </div>

</div>

<div class="certif">

    <img class="logoaws" src="assets/aws.png">
    <img class="logomcp" src="assets/mcp.png">
    <img class="logojava" src="assets/java.png">
</div>
<app-footer></app-footer>
