
          <nav class="nav-links"> 
      
            <h3> Marouane The Analyst</h3>
             <a  id="btn" routerLink="/home"> <button class="btn btn-dark" type="button"> Home </button>  </a>
          
            
              <a  id="btn" routerLink="/about">  <button class="btn btn-dark" type="button">About</button></a>
          
              <a id="btn"routerLink="/projects"> <button class="btn btn-dark" type="button">Projects</button></a>
            
                <a id="btn"routerLink="/contact"> <button class="btn btn-dark" type="button">Contact</button></a>
              
              
        
            
              <a id="btn" href="https://www.linkedin.com/in/marouane-bahaj-the-data-analyst/"><img id="nv" class="linkedin" src="assets/linkedin-icon.png" ></a>  
              
              
              <a  id="btn" href="https://github.com/Marouane8888"><img id="nv" class="githube" src="assets/Github.png" ></a>
         
          
          </nav>
  

