<div class="grid-container">
    <div id="itm" class="item1"> <a  id="btn" routerLink="/itjob">It Job Survey</a></div>
   <div id="itm" class="item2"><a  id="btn" routerLink="/hranalys"> Hr Attirition  </a> </div>
    <div id="itm"class="item3"> <a  id="btn" routerLink="/sales">Bitcoin Analysis</a> </div>
    <div id="itm" class="item4"><a  id="btn" routerLink="/pizza"> Pizza Shop  </a></div>
    <div id="itm" class="item5"> <a  id="btn" routerLink="/finance"> Finacial Markets</a></div>
    <div id="itm" class="item6"> <a  id="btn" routerLink="/advwrok">Adventure Works</a></div>
</div>


<br> 
<br> 

<br> 
    
<div class="container">
        
    <div class="proj">
        <div class="pbi">


             <iframe title="Report Section" width="640" height="385" src="https://app.powerbi.com/view?r=eyJrIjoiNDdjNjRhYjMtZWQ1YS00ZGU3LWI3MmMtYTM4YTNiZjM3M2E1IiwidCI6ImQ0ZWE3YWQxLTc0MDQtNDM5Yy04YTM2LTI4M2RhMzFlNDQyOCIsImMiOjN9"
             frameborder="0"
              allowFullScreen="true"></iframe>

        </div>
        <div class="legend">
           <u> <h3>Pizza SHOP Analysis</h3>  </u>
           <p> 
            This is the analysis of the performances carried out by bitcoin between 
            2017 and 2023 with the aim of knowing the history and trying to predict the future of its behavior.

            This report has the essential role of helping companies and users to be informed regarding  
             the bitcoin situation and his projection into the future
             </p>
            <u> <h4> Tools used to produce this report</h4>  </u>
           <ul> 
            <li> SQL SERVER </li>
            <li> ETL </li>
            <li> Power Query </li>
            <li> DAX for Mesures and Calculated columns </li>
            <li> Power BI </li>
           </ul>
           <a href="https://github.com/Marouane8888/Marouane-s-Bitcoin-Value-Analysis"> GitHub repository for this project </a>

        </div>

    </div>
   

    </div>


<app-footer> </app-footer>