


    <div class="legend">
        
          
        
        <h1>Marouane BAHAJ   </h1>

        <h2>- The Data Analyste - </h2>
        
        <div class="pic">

            <img  src="assets/back.png">
        </div>
        <br> 
        <h3>Welcome to my Portfolio</h3>
       
        <p>  Feel free to browse my portfolio to see some of the projects I've worked on
            and contact me if you look for a data analytist for a new position  </p>
           
    </div>




<app-footer> </app-footer>